header
  display: flex
  justify-content: space-around
  align-items: center
  background-color: #1657e7
  padding: 25px 0 25px
  flex-direction: column
  width: 150px

  & .link
    color: white
    font-family: 'LucLucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size: 1em
    flex: 1
    padding: 30px 0 30px
    text-align: center
    text-decoration: none
    text-transform: uppercase
    
    &:hover
      background-color: #1667e7

